@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #050505;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

/* Premium Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #050505;
}
::-webkit-scrollbar-thumb {
  background: #D4AF37;
  border-radius: 10px;
}

@layer utilities {
  .text-gold-gradient {
    @apply bg-gold-gradient bg-clip-text text-transparent font-bold;
  }
  .btn-gold-shadow {
    box-shadow: 0 4px 14px 0 rgba(212, 175, 55, 0.39);
  }
}
