@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #020617;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

/* Professional Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #020617;
}
::-webkit-scrollbar-thumb {
  background: #10B981;
  border-radius: 10px;
}

@layer utilities {
  .text-emerald-gradient {
    @apply bg-emerald-gradient bg-clip-text text-transparent font-bold;
  }
  .btn-emerald-shadow {
    box-shadow: 0 4px 14px 0 rgba(16, 185, 129, 0.39);
  }
}
